{% extends "admin-main.html" %}

{% block title %}Admin - Employees{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Admin Employees - Content Area</h1>
    <p>This page is dedicated to displaying all employees in an organization. Probably consisting
        of a table. In addition to displaying employee details, with columns to delete an employee,
        or edit their information, it can also have an extra column that when clicked on will 
        go to another page that displays that employee's requests. Use parameter employee_id in URL fetch.
    </p>
</div>
{% endblock %}
