<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Login</title>

    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="login-container">
        <h2>Admin Login</h2>

        <!-- Flask-WTF Form -->
        <form method="POST">
            {{ form.hidden_tag() }}
            <p>{{ form.username.label }} {{ form.username }}</p>
            <p>{{ form.password.label }} {{ form.password }}</p>
            <p>{{ form.submit(class="login-btn") }}</p>
        </form>

        <div class="links">
            <a href="{{ url_for('adminForgotPassword')}}">Forgot Password?</a>
            <a href="{{ url_for('employeeLogin') }}">Login as Employee</a>
            <a href="{{ url_for('managerLogin') }}">Login as Manager</a>
        </div>
    </div>

</body>

</html>
